@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

// Colors

// Primary

$Desaturated-Red: #ce9797;
$Soft-Red: #f96262;

// Neutral

$Dark-Grayish-Red: hsl(0, 6%, 24%);

// Gradients
$degradado-linear1:(135deg,rgb(255, 255, 255),rgb(255, 245, 245));
$degradado-linear2:(135deg,rgb(248, 191, 191),rgb(238, 140, 140));
$degradado-linear3:(135deg,rgb(250, 217, 217),rgb(247, 187, 187));

